/*
 * This is just the basic table grid for responsive mode.
 */


/* Navigation */
.my-calendar-header > div, .mc_bottomnav > div {
	margin: 5px;
	display: inline-block; 
}

.mc-main .maybe-hide {
   /* If you want to hide these, uncomment.
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden; 
	*/	
}

.my-calendar-nav ul, .mc-main .category-key ul, .mc-main .mc-export ul {
    margin: 0 !important;
    padding: 0 !important;
}

.my-calendar-nav ul li, .mc-main .category-key ul li, .mc-main .mc-export ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 6px;
}

.my-calendar-nav .my-calendar-prev a {
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #bbb;	
}

.my-calendar-nav .my-calendar-next a {
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #fff;	
}

.my-calendar-prev a:before {
    content: '\25C0 ';
}

.my-calendar-next a:after {
    content: ' \25b6';
}

/* Category Key */
.mc-main .category-key h3 {
	margin: 0 0 10px 0 !important;	
}

.mc-main .no-icon {
    display: inline-block;
    width: 1.25em;
    margin-right: .25em;
    border-radius: 12px;
}

.mc-main .category-color-sample img {
    padding: 2px;
	display: inline;
    vertical-align: text-top;
    margin-right: .25em;
}
 
.mc-main .mc-row:nth-of-type(1) {
	position: absolute;
	left: -999em;
}

.mc-main:after {
	content: '';
	display: table;
	clear: both;
}

.mc-main .mc-row li {
	display: block;
	vertical-align: top;
	margin: 0;
	padding: 1em;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    width: 100%;
    padding: 1em;
    z-index: 99;
	background: #fff;
	outline: 1px solid #ddd;
	position: relative;		
}

.mc-main .close {
    position: absolute;
    right: .5em;
    top: .5em;
	padding: 4px;
	line-height: 2;
	border-bottom: none;
}



.mc-main li.no-events {
	display: block;
}

.mc-main .mc-row, .mc-main .mc-row > li {
	list-style: outside none none;
	margin: 0;
}

/* Hide cells with no content */
.mc-main li.no-events, .mc-main .day-heading, .mc-main .weekend-heading {
	display: none;
}

/* Triggered when wider than 480px */
@media only screen and (min-width: 480px) {

	
}

/* Triggered when wider than 800px */
@media only screen and (min-width: 800px) {

	.mc-main .mc-table-body {
		display: table;
		width: 100%;
	}

	.mc-main .mc-row {
		display: table-row;
	}

	.mc-main .mc-row:nth-of-type(1) {
		position: static;
	}    
	
	.mc-main .mc-row li {
		display: table-cell;
		width: 14.285714%;
		border: 1px solid #f6f6f6;
		padding: 0 !important;
		height: 5em;
	}

	.mc-main .mc-row .day-heading, .mc-main .mc-row .weekend-heading {
		text-align: center;
		text-transform: uppercase;
		padding: 8px 0 !important;
		background: rgba(0, 0, 0, .8);
		color: #fff !important;
		height: auto;
	}
	
	.mc-main .event-title {
		margin: 0 !important;
		font-size: .8em;
	}	
	
	.mc-main .calendar-event .details, .mc-main .calendar-events {
		position: absolute;
		left: 0;
		box-shadow: 0 0 4px;		
	}	
}

/* Triggered when wider than 1000px */
@media only screen and (min-width: 1000px) {
	
}

/* Triggered when wider than 1360px */
@media only screen and (min-width: 1360px) {

}
